.wp-block[data-type="sortabrilliant/fancylinks"] {

	.components-placeholder__input {
		margin: 0 8px 0 0;
		flex: 1 1 auto;
	}
}

.wp-block-fancylinks {

	&.is-loading {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 1em;
		min-height: 200px;
		text-align: center;
		background: #f3f4f5;

		p {
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
			font-size: 13px;
		}
	}
}

.fancylinks__interactive-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}
